@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');
@font-face {
  font-family: 'Evogria';
  src: url('/assets/fonts/evogria/Evogria.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Evogria Italic';
  src: url('/assets/fonts/evogria/EvogriaItalic.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  font-family: 'Evogria' !important;
  /* width: 100vw;
  height: 100vh; */
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.snackbar.is-danger {
  background: #C72929;
}
.notices .snackbar .action .button {
  background: transparent;
  color: black !important;
  font-weight: 700;
  border: none;
}
.notices .snackbar .action .button:hover {
  background: transparent;
  color: black;
}

.button.is-danger {
  background-color: red;
}

section.modal-card-body {
  color: white;
  font-family: 'Inter';
  padding-top: 3px;
}

.modal-card-title {
  color: red !important;
  font-size: 19px !important;
}

input.input {
  border: 2px solid rgba(255,255,255,.2) !important;
  border-radius: 5px !important;
}
input.input:focus {
  border: 2px solid white !important;
}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.app-body {
  top: 300px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
